@model IEnumerable<TestFluent.Models.TaskModel>

@{
    ViewBag.Title = "Tasks";
    var ID = ViewBag.ID;
}

<h2>Tasks</h2>



<p>
    @Html.ActionLink("Create New", "Create", "Task", new { userStoryId = ID }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Task", new { userStoryId = ID, id=item.Id }, null) |
            @Html.ActionLink("Details", "Index", "Task", new { userStoryId = ID, id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Task", new { userStoryId = ID, id=item.Id }, null)
        </td>
    </tr>
}

</table>
